{% extends "auction/base.html" %}
{% block content %}

<br>
<h3> Filter Items</h3>
<ul class="list-group mb-3">
    {% for category in categories%}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <a style = "color : rgba(0, 136, 169, 1)" href= "{% url 'fiterByCategory' category=category %}"><h6 class="my-0">{{category}}</h6></a>
        </div>
    </li>
    {% endfor %}
</ul>

<ul class="list-group mb-3">

    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <a style = "color : rgba(0, 136, 169, 1)" href = "{% url 'auctionsFinished' %}"><h6>Auctions finished</h6></a>
        </div>
    </li>

</ul>
    <center>
    {% for item in items %}
        <br>
        <br>
        <div class="w3-main">
            <div class="courses-container">
                <div class="course">
                    <div class="course-preview">
                        <h6>{{ item.published}}</h6>
                        <h2> {{ item.name}} </h2>
                    </div>
                    <div class="course-info">
                        <a style="color : rgba(0, 136, 169, 1)" href = "{% url 'accountDetail' pk=item.seller.pk %}"><h6>{{ item.seller }}</h6></a>
                        <h4>{{ item.description|truncatewords:7}}</h4>
                        <br>
                        <a href="{% url 'fiterByCategory' category=item.category %}"><font color = #24252A>{{ item.category}} </font> <i class="fas fa-chevron-right"></i></a>
                        <a href="{% url 'auction' pk=item.pk %}" class="card-link"><button class="btnn">See more</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
<br>


  <!-- Pagination -->
<div class="text-center" >
    <nav aria-label="Page navigation example" >
      <ul class="pagination" style = "object-position: center;">
          {% if items.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{items.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
          {%endif%}
        <li class="page-item"><a class="page-link" href="#">{{items.number}}</a></li>
          {% if items.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{items.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
           {%endif%}
      </ul>
    </nav>
</div>
</center>
{% endblock %}


