{% extends 'auction/base.html' %}
{% block content %}
{% load static%}

{% block scripts %}
    <script src = "{% static 'range.js' %}" defer></script>
{% endblock %}

    <legend class = 'border-bottom mb-4' style="color : rgba(0, 136, 169, 1)"><h4>  Profile of {{ account.username }}</h4> </legend>
            <div class="media-body">
                <strong><font color = "ee0979">FIRST NAME :</font> {{ account.first_name }}</strong><br>
                <strong><font color = "ee0979">LAST NAME :</font>  {{ account.last_name}} </strong><br>
                <strong><font color = "ee0979">EMAIL : </font> {{ account.email }}</strong><br>
                <strong><font color = "ee0979">ADDRESS : </font>{{account.address}}</strong><br>
            </div>
            <br>
            <br>
<form id="msform" action = "{% url 'accountDetail' pk=account.pk%}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}

       <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Recension</h2>
                <h3 class="fs-subtitle">Help other User to know something about sellers</h3>

                <textarea  name="recension" placeholder="Write here your recension"></textarea>

                <div class="range-wrap">
                  <input name = "rating "type="range" class="range" min="0" max="5">
                  <output style="color : rgba(0, 136, 169, 1)" class="bubble"></output>
                </div>


                 <button class="btnn" type="submit">Publish</button>
            </fieldset>
</form> <br> <br>

<legend class = 'border-bottom mb-4' style="color : rgba(0, 136, 169, 1)"><h4> Other recensions</h4> </legend>


{% for recension in recensions %}
<ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <a href="{% url 'accountDetail' pk=recension.author.pk %}" ><h6 class="my-0" style="color : ee0979">{{recension.author}}</h6></a>
            <small class="text-muted">{{recension.datetime}}</small>
        </div>
        <span class="text-muted"> {{recension.rating}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0">{{recension.recension}}</h6>
        </div>
    </li>
</ul>
{% endfor %}
{% endblock %}